.app-tree-displayer {
  height: 100%;
}

.justified-block {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 25%;
  right: 25%;
}

.justified-block-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -150%;
  left: 0%;
  right: 0%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
