.app-tree-displayer {
  height: 100%;
}

.justified-block {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -280px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
