<mat-list>
  <ng-container *ngFor="let item of data | keyvalue">
    <span *ngIf="isElegibleAttr(item.key, item.value.value)">
      <mat-list-item *ngIf="isSingleValue(item.value.value)">
        <mat-icon *ngIf="item.key !== 'error'"
                  aria-hidden="false"
                  class="large-icon extra-space-icon"
                  attr.aria-label="Description for the {{ item.key }} attribute."
                  matTooltip="{{ item.value.description ? item.value.description : noDescMsg }}">
          help_outline
        </mat-icon>
        <strong *ngIf="item.key !== 'error'" class="item-key">
          {{ format(item.key | titlecase) }}:
        </strong>
        {{ item.value.value }}
      </mat-list-item>

      <mat-expansion-panel *ngIf="!isSingleValue(item.value.value)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon aria-hidden="false"
                      class="large-icon"
                      attr.aria-label="Description for the {{ item.key }} attribute."
                      matTooltip="{{ item.value.description ? item.value.description : noDescMsg }}">
              help_outline
            </mat-icon>
            <strong>
              {{ format(item.key | titlecase) }}:
            </strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <span *ngIf="item.value.value.length">
            <mat-list dense>
              <mat-list-item *ngFor="let element of item.value.value">
		<ng-container *ngIf="element.proportion; else noPropItem">
		  <mat-progress-bar class="list-element-bar" color="primary" [value]="100. * +element.proportion"></mat-progress-bar>
		  <span style="margin-right: 8px;"><strong> {{ element.value }}: </strong></span>
		  {{ 100. * +element.proportion | number: '.2-2'}}%
		</ng-container>
		<ng-template #noPropItem>
                  {{ element }}
		</ng-template>
              </mat-list-item>
            </mat-list>
          </span>
          <span *ngIf="!item.value.value.length">
            <mat-list dense>
              <ng-container *ngFor="let element of item.value.value | keyvalue">
                <mat-list-item *ngIf="isElegibleAttr(element.key, element.value.value)">
                  <mat-icon aria-hidden="false"
                            class="small-icon"
                            attr.aria-label="Description for the {{ element.key }} attribute."
                            matTooltip="{{ element.value.description ? element.value.description : noDescMsg }}">
                    help_outline
                  </mat-icon>
		  <ng-container *ngIf="element.value.value.proportion !== undefined; else noPropItem2">
		    <mat-progress-bar class="list-element-bar" color="primary" [value]="100. * +element.value.value.proportion"></mat-progress-bar>
		    <span style="margin-right: 8px;"><strong> {{ element.key }}: </strong></span>
		    {{ element.value.value.value }}
		    ({{ 100. * +element.value.value.proportion | number: '.2-2'}}%)
		  </ng-container>
		  <ng-template #noPropItem2>
                    <strong class="item-key">
                      {{ format(element.key | titlecase) }}:
                    </strong>
                    {{ element.value.value }}
		  </ng-template>

                </mat-list-item>
              </ng-container>
            </mat-list>
          </span>
        </ng-template>
      </mat-expansion-panel>
    </span>
  </ng-container>
</mat-list>
