.large-icon {
  transform: scale(0.9);
  margin-right: 8px;
}

.small-icon {
  transform: scale(0.75);
}

.item-key {
  margin-right: 4px;
}

.extra-space-icon {
  margin-left: 8px;
}

.list-element-bar {
  width: 40%;
  margin-right: 16px;
}
