<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="cursor: pointer;">
		<i
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseBasic"
	class="material-icons md-light md-36">reorder</i>
	</a>
	<a class="navbar-brand" href="#">Alchemist</a>

	<div class="collapse navbar-collapse justify-content-end">
		<ul class="navbar-nav">
			<li class="nav-item ">
				<a class="nav-link" href="#">
					<i class="material-icons md-24 md-light">notification_important</i>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					<i class="material-icons md-24 md-light">build</i>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					<i class="material-icons md-24 md-light">exit_to_app</i>
				</a>
			</li>
		</ul>
	</div>
</nav>


<div id="my-sidebar" class="container-fluid" >
	<div class="row justify-content-center">
		<div id="collapseBasic" [collapse]="isCollapsed" class="col-2 bg-dark">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky">
				<ul class="nav navbar-nav mr-auto flex-column">


					<li class="nav-item navbar-brand">
						<a class="nav-link active text-lg-left" routerLink="/start">
							<i class="material-icons md-light md-24"> home </i>
							Start
						</a>
					</li>

					<li>
						<hr>
					</li>

					<li>
						<a class="nav-link" routerLink="/visual-analysis">
							<i class="material-icons md-light md-24"> equalizer </i>
							Visual Analysis
						</a>
					</li>
					<!-- 	  <li class="nav&#45;item"> -->
					<!-- 	    <a class="nav&#45;link dropdown&#45;toggle" -->
					<!-- 	(click) = "isCollapsed_VisAna = !isCollapsed_VisAna" -->
					<!-- 	[attr.aria&#45;expanded]="!isCollapsed_VisAna" -->
					<!-- 	aria&#45;controls="collapse_VisAna" -->
					<!--  routerLink="/visual&#45;analysis"> -->
					<!-- 	      <i class="material&#45;icons md&#45;light md&#45;24"> equalizer </i> -->
					<!-- 	      Visual Analysis</a> -->
					<!-- 	  </li> -->
					<!-- 	  <div class="collapse"  -->
					<!-- 	id="collapse_VisAna" -->
					<!--  [collapse]="isCollapsed_VisAna" > -->
					<!--  <div class="container"> -->
					<!--    <ul class="nav navbar&#45;nav mr&#45;auto flex&#45;column"> -->
					<!--      <li class="nav&#45;item"> -->
					<!--        <a class="nav&#45;link" href="#">PCA</a> -->
					<!--      </li> -->
					<!--      <li class="nav&#45;item"> -->
					<!--        <a class="nav&#45;link" href="#">t&#45;SNE</a> -->
					<!--      </li> -->
					<!--      <li class="nav&#45;item"> -->
					<!--        <a class="nav&#45;link" href="#">Scatter plot</a> -->
					<!--      </li> -->
					<!--      <li class="nav&#45;item"> -->
					<!--        <a class="nav&#45;link " href="#">...</a> -->
					<!--      </li> -->
					<!--    </ul> -->
					<!--  </div> -->
					<!-- 	  </div> -->
					<!--  -->

					<li class="nav-item">
						<a class="nav-link" routerLink="/statistical-analysis">
							<i class="material-icons md-light md-24"> trending_up </i>
							Statistical Analysis</a>
					</li>


					<li class="nav-item">
						<a class="nav-link" routerLink="/prediction">
							<img src="assets/images/icons/flask.svg" class="roboto">
							Property Prediction
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img src="assets/images/icons/roboto.svg" class="roboto">
							Glass Generator
						</a>
					</li>

					<li>
						<hr>
					</li>


					<li class="nav-item">
						<a class="nav-link" href="#" >Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Our Publications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Cite</a>
					</li>
				</ul>
			</nav>


		</div>
		<div class="col-10 justify-content-center">
			<app-contents></app-contents>
		</div>
	</div>
</div>

<!-- <app&#45;contents></app&#45;contents> -->
