.current-tree-selector {
  width: calc(100% - 100px - 24px);
  float: right;
  overflow: auto;
}

.d3-tree-model {
  height: 100%;
}

.control-section-rotate {
  margin-right: 16px;
}

.zoom-slider {
  width: calc(100% - 4 * 24px - 2px - 16px);
}

.visual-settings-panel {
  background-color: rgb(240, 240, 240);
}

.visual-settings-panel-icon {
  margin-right: 8px;
}

.depth-visualization-control-icon {
}

.depth-visualization-slider {
  width: 50%;
}

.reload-button {
  margin-right: 8px;
}

.item-key {
  margin-right: 4px;
}
