<mat-accordion>
  <mat-expansion-panel class="visual-settings-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="visual-settings-panel-icon">view_headline</mat-icon>
        Visual settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-toolbar color="primary">
        <mat-icon class="visual-settings-panel-icon">more</mat-icon>
        Toggle attributes
      </mat-toolbar>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="visual-settings-panel-icon">bubble_chart</mat-icon>
            Node attributes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-selection-list #nodeAttrList
                              dense
                              (selectionChange)="nodeService.toggleAttr($event.option.value); nodeService.updateNodeLabel(nodes)">
            <mat-list-option *ngFor="let nodeAttr of nodeService.visibleAttrsInfo.visibleAttrs"
                             color="primary"
                             [selected]="nodeService.activeAttrs.indexOf(nodeAttr.name) > -1"
                             [value]="nodeAttr.name"
                             [matTooltip]="nodeAttr.desc">
              Show {{ (nodeAttr.name | titlecase).split('-').join(' ') }} ({{ nodeAttr.abbv ? nodeAttr.abbv : abbreviateAttrLabel(nodeAttr.name) }})
              <span *ngIf="nodeAttr.constraint" class="constraint-text">
                {{ nodeAttr.constraint }}
              </span>
            </mat-list-option>
          </mat-selection-list>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="visual-settings-panel-icon">share</mat-icon>
            Link attributes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-selection-list #linkAttrList
                              dense
                              (selectionChange)="linkService.toggleAttr($event.option.value); linkService.updateLinkLabel(links)">
            <mat-list-option *ngFor="let linkAttr of linkService.visibleAttrsInfo.visibleAttrs"
                             color="primary"
                             [selected]="linkService.activeAttrs.indexOf(linkAttr.name) > -1"
                             [value]="linkAttr.name"
                             [matTooltip]="linkAttr.desc">
              Show {{ (linkAttr.name | titlecase).split('-').join(' ') }} ({{ linkAttr.abbv ? linkAttr.abbv : abbreviateAttrLabel(linkAttr.name) }})
              <span *ngIf="linkAttr.constraint" class="constraint-text">
                {{ linkAttr.constraint }}
              </span>
            </mat-list-option>
          </mat-selection-list>
        </ng-template>
      </mat-expansion-panel>
      <mat-toolbar color="primary">
        <mat-icon class="visual-settings-panel-icon">texture</mat-icon>
        Miscellaneous
      </mat-toolbar>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="visual-settings-panel-icon">vertical_align_center</mat-icon>
            Visualization depth
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list dense>
            <mat-list-item>
              <mat-slide-toggle [checked]="adjustVisualDepthAuto"
                                (change)="adjustVisualDepthAuto = !adjustVisualDepthAuto">
                Adjust visualization depth automatically
              </mat-slide-toggle>
            </mat-list-item>
            <mat-list-item>
              From root ({{ visualDepthFromRoot }}):
              <mat-icon (click)="updateVisualDepthFromRoot(visualDepthFromRoot - 1)"
                        [style.cursor]="(adjustVisualDepthAuto || visualDepthFromRoot <= 0) ? 'not-allowed' : 'pointer'"
                        class="depth-visualization-control-icon">
                {{ (!adjustVisualDepthAuto && visualDepthFromRoot > 0) ? 'remove_circle' : 'remove_circle_outlined' }}
              </mat-icon>
              <mat-slider #visualDepthFromRootSlider
                          [min]="0"
                          [max]="maxHiddenLevels - visualDepthFromLeaves"
                          [disabled]="adjustVisualDepthAuto || (maxHiddenLevels ? visualDepthFromLeaves === maxHiddenLevels : false)"
                          [(value)]="visualDepthFromRoot"
                          (change)="updateVisualDepthFromRoot(visualDepthFromRootSlider.value)"
                          step="1"
                          color="primary"
                          class="depth-visualization-slider">
              </mat-slider>
              <mat-icon (click)="updateVisualDepthFromRoot(visualDepthFromRoot + 1)"
                        [style.cursor]="visualDepthFromRoot >= (maxHiddenLevels - visualDepthFromLeaves) ? 'not-allowed' : 'pointer'"
                        class="depth-visualization-control-icon">
                {{ (!adjustVisualDepthAuto && visualDepthFromRoot < maxHiddenLevels - visualDepthFromLeaves) ? 'add_circle' : 'add_circle_outlined' }}
              </mat-icon>
            </mat-list-item>
            <mat-list-item>
              From leaf ({{ visualDepthFromLeaves }}):
              <mat-icon (click)="updateVisualDepthFromLeaves(visualDepthFromLeaves - 1)"
                        [style.cursor]="visualDepthFromLeaves <= 0 ? 'not-allowed' : 'pointer'"
                        class="depth-visualization-control-icon">
                {{ (!adjustVisualDepthAuto && visualDepthFromLeaves > 0) ? 'remove_circle' : 'remove_circle_outlined' }}
              </mat-icon>
              <mat-slider #visualDepthFromLeavesSlider
                          [min]="0"
                          [max]="maxHiddenLevels - visualDepthFromRoot"
                          [disabled]="adjustVisualDepthAuto || (maxHiddenLevels ? visualDepthFromRoot === maxHiddenLevels : false)"
                          [(value)]="visualDepthFromLeaves"
                          (change)="updateVisualDepthFromLeaves(visualDepthFromLeavesSlider.value)"
                          step="1"
                          color="primary"
                          class="depth-visualization-slider">
              </mat-slider>
              <mat-icon (click)="updateVisualDepthFromLeaves(visualDepthFromLeaves + 1)"
                        [style.cursor]="visualDepthFromLeaves >= (maxHiddenLevels - visualDepthFromRoot) ? 'not-allowed' : 'pointer'"
                        class="depth-visualization-control-icon">
                {{ (!adjustVisualDepthAuto && visualDepthFromLeaves < maxHiddenLevels - visualDepthFromRoot) ? 'add_circle' : 'add_circle_outlined' }}
              </mat-icon>
            </mat-list-item>
            <mat-list-item>
              Current tree depth: {{ maxDepth }} ({{ maxDepth + 1 }} levels)
            </mat-list-item>
            <mat-list-item>
              Visiblity of current tree: {{ (2 + visualDepthFromLeaves + visualDepthFromRoot) / (1 + maxDepth) | percent }}
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let miscGroup of additionalMiscOptions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="visual-settings-panel-icon"> {{ miscGroup.icon }} </mat-icon>
            {{ miscGroup.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list dense>
            <mat-list-item *ngFor="let item of miscGroup.content">
              <mat-slide-toggle color="primary"
                                [checked]="item.attr"
                                (change)="item.func()">
                {{ item.text }}
              </mat-slide-toggle>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<mat-card>
  <mat-card-actions>
    <button class="reload-button"
            color="warn"
            mat-stroked-button
            (click)="changesHandler()">
      <mat-icon>
        refresh
      </mat-icon>
      Reload
    </button>
    <mat-form-field class="current-tree-selector" *ngIf="treeNodes && treeNodes.length > 1">
      <mat-label class="forest-label">
        Current selected model from the forest (of size {{ treeNodes.length }}) to visualize:
      </mat-label>
      <mat-select [(ngModel)]="chosenTree" (ngModelChange)="changesHandler()">
        <mat-option *ngFor="let tree of treeNodes; index as i;"
                value="{{ i }}">
                {{ i }} (node count: {{ tree.tree_.value.node_count }}, depth: {{ tree.tree_.value.maximum_depth }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-actions>
  <mat-card-content>
    <svg id="d3-tree-svg" width="100%" height="512" class="current-tree-model"></svg>
  </mat-card-content>
  <mat-card-footer>
    <div>
      <span class="control-section-rotate">
        <mat-icon (click)="rotateTree(90)"
                  [style.cursor]="'pointer'"
                  matTooltip="Rotate tree 90 degrees counter-clockwise"
                  matTooltipShowDelay="400"
                  class="rotate-icon">
          rotate_left
        </mat-icon>
        <mat-icon (click)="rotateTree(270)"
                  [style.cursor]="'pointer'"
                  matTooltip="Rotate tree 90 degrees clockwise"
                  matTooltipShowDelay="400"
                  class="rotate-icon">
          rotate_right
        </mat-icon>
      </span>
      <span class="control-section-zoom">
        <mat-icon (click)="updateZoomValue(-0.25)"
                  (dblclick)="updateZoomValue(-0.75)"
                  [style.cursor]="zoomValue <= zoomMin ? 'not-allowed' : 'pointer'"
                  matTooltip="Zoom out (temporarily disabled to maintenance)"
                  matTooltipShowDelay="400"
                  class="zoom-icon">
          zoom_out
        </mat-icon>
        <mat-slider [min]="zoomMin"
                    [max]="zoomMax"
                    [(value)]="zoomValue"
                    (change)="updateZoomValue(+0.0)"
                    step="0.01"
                    disabled="true"
                    matTooltip="(temporarily disabled to maintenance)"
                    class="zoom-slider">
        </mat-slider>
        <mat-icon (click)="updateZoomValue(+0.25)"
                  (dblclick)="updateZoomValue(+0.75)"
                  [style.cursor]="zoomValue >= zoomMax ? 'not-allowed' : 'pointer'"
                  matTooltip="Zoom in (temporarily disabled to maintenance)"
                  matTooltipShowDelay="400"
                  class="zoom-icon">
          zoom_in
        </mat-icon>
      </span>
    </div>
    <div *ngIf="treeNodes && (chosenTree || chosenTree === 0)">
      <mat-card>
        <mat-card-title>
          Current tree (index: {{ +chosenTree }}) characteristics
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <span *ngFor="let attr of treeNodes[+chosenTree].tree_.value | keyvalue">
              <mat-list-item *ngIf="!attr.value.length">
                <strong class="item-key">
                  {{ (attr.key | titlecase).split('_').join(' ') }}:
                </strong>
                {{ attr.value }}
              </mat-list-item>
            </span>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-footer>
</mat-card>
