<div *ngIf="treeNodes && treeNodes.length > 1">
  <mat-label>
    Current selected model from the forest (of size {{ treeNodes.length }}) to visualize:
  </mat-label>
  <mat-select [(value)]="chosenTree">
    <mat-option *ngFor="let tree of treeNodes; index as i;"
            value="{{ i }}">
            {{ i + 1 }} (size: {{ tree.tree_.node_count }})
    </mat-option>
  </mat-select>
</div>

<div *ngFor="let tree of treeNodes; index as i">
  <div *ngIf="chosenTree == i">
    {{ tree | json }}
  </div>
</div>
