.bar-fill-remaining-space {
  flex: 1 1 auto;
}

.main-bar-button {
  margin-left: 2%;
}

.waiting-spinner {
  margin-left: calc(50% - 0.5 * 45px);
  margin-top: 4%;
  margin-bottom: 4%;
}

.tree-model-drawer {
  width: 50%;
}

.tree-model-content {
  height: 100%;
}
