<mat-drawer-container *ngIf="treeModel; else noModelLoaded">
  <mat-drawer-content class="tree-model-content">
    <!-- Actual tree model. Should be visible no matter the option selected. -->
    <app-tree-d3-model [treeNodes]="treeModel.tree_ ? [treeModel.tree_] : (treeModel.estimators_ ? treeModel.estimators_ : undefined)"></app-tree-d3-model>
  </mat-drawer-content>

  <mat-drawer mode="side"
              opened
              disableClose
              position="end"
              class="tree-model-drawer">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Model information
        </ng-template>
    
        <ng-template matTabContent>
          <mat-list dense>
            <ng-container *ngFor="let item of treeModel | keyvalue">
              <mat-list-item *ngIf="item.value === 0 || item.value === false || item.value">
                {{ item.key }}: {{ item.value }}
              </mat-list-item>
            </ng-container>
          </mat-list>
        </ng-template>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          Make predictions
        </ng-template>
    
        <ng-template matTabContent>
          <app-data-loader-pannel
              [datasetDim]="treeModel.n_features_ ? treeModel.n_features_ : 0"></app-data-loader-pannel>
        </ng-template>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          Notes
        </ng-template>
    
        <ng-template matTabContent>
          <p> This option will be removed in the final version. </p>
          <p> New interesting functionalities can be easily added to this application simply by adding new options in "tree-displayer" component, and conditionally showing other components in "tree-displayer" template. </p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
</mat-drawer-container>
  
<ng-template #noModelLoaded>
  <mat-spinner class="waiting-spinner"></mat-spinner>
</ng-template>
