<mat-drawer-container *ngIf="treeModel; else noModelLoaded">
  <mat-drawer-content class="tree-model-content">
    <!-- Actual tree model. Should be visible no matter the option selected. -->
    <app-tree-d3-model [treeNodes]="treeModel.tree_ ? [treeModel.tree_.value] : (treeModel.estimators_ ? treeModel.estimators_.value : [])"></app-tree-d3-model>
  </mat-drawer-content>

  <mat-drawer mode="side"
              opened
              disableClose
              position="end"
              class="tree-model-drawer">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Model information
        </ng-template>
    
        <ng-template matTabContent>
          <mat-list>
            <ng-container *ngFor="let item of treeModel | keyvalue">
              <span *ngIf="!isBannedAttr(item.key) && (item.value.value || item.value.value === 0 || item.value.value === false)">
                <mat-list-item *ngIf="isSingleValue(item.value.value)">
                  &nbsp;&nbsp;
                  <mat-icon aria-hidden="false"
                            attr.aria-label="Description for the {{ item.key }} attribute."
                            matTooltip="{{ item.value.description ? item.value.description : 'No description found.' }}">
                    help_outline
                  </mat-icon>
                  <strong>
                    {{ (item.key | titlecase).split('_').filter(filter_empty).join(' ') }}:
                  </strong>
                  {{ item.value.value }}
                </mat-list-item>

                <mat-expansion-panel *ngIf="!isSingleValue(item.value.value)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon aria-hidden="false"
                                attr.aria-label="Description for the {{ item.key }} attribute."
                                matTooltip="{{ item.value.description ? item.value.description : 'No description found.' }}">
                        help_outline
                      </mat-icon>
                      <strong>
                        {{ (item.key | titlecase).split('_').filter(filter_empty).join(' ') }}:
                      </strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      Click to expand
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <span *ngIf="item.value.value.length">
                      <mat-list dense>
                        <mat-list-item *ngFor="let element of item.value.value">
                          {{ element }}
                        </mat-list-item>
                      </mat-list>
                    </span>
                    <span *ngIf="!item.value.value.length">
                      <mat-list dense>
                        <ng-container *ngFor="let element of item.value.value | keyvalue">
                          <mat-list-item *ngIf="!isBannedAttr(element.key) && (element.value.value || element.value.value === 0 || element.value.value === false)">
                            <mat-icon aria-hidden="false"
                                      attr.aria-label="Description for the {{ element.key }} attribute."
                                      matTooltip="{{ element.value.description ? element.value.description : 'No description found.' }}">
                              help_outline
                            </mat-icon>
                            <strong>
                              {{ element.key }}:
                            </strong>
                            {{ element.value.value }}
                          </mat-list-item>
                        </ng-container>
                      </mat-list>
                    </span>
                  </ng-template>
                </mat-expansion-panel>
              </span>
            </ng-container>
          </mat-list>
        </ng-template>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          Make predictions
        </ng-template>
    
        <ng-template matTabContent>
          <app-data-loader-pannel
              [datasetDim]="treeModel.number_of_features_ ? treeModel.number_of_features_.value : 0"></app-data-loader-pannel>
        </ng-template>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          Notes
        </ng-template>
    
        <ng-template matTabContent>
          <p> This option will be removed in the final version. </p>
          <p> New interesting functionalities can be easily added to this application simply by adding new options in "tree-displayer" component, and conditionally showing other components in "tree-displayer" template. </p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
</mat-drawer-container>
  
<ng-template #noModelLoaded>
  <mat-spinner class="waiting-spinner"></mat-spinner>
</ng-template>
