<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<div class="fixed-bottom">
<div class="footer bg-dark">

	<div class="container-fluid">
		<div class="row">

			<div class="col">      
				<div class="row">
					<div class="col">      
						<img src="assets/images/logo/logo-alchemist-periodic-table.png"
					 class="img-fluid rounded img-thumbnail border-dark bg-dark">
					</div>
					<div class="col">
					</div>
				</div>
			</div>

			<div class="col">
				<div class="copyright text-center my-auto">
					<span class="text-light text-center">Copyright © Alchemist 2019</span>
				</div>
			</div>

			<div class="col">
			</div>

		</div> 
	</div> 
</div>
</div>
