<h2> Custom test instance </h2>
<div> Current dataset dimension: {{ datasetDim }} </div>
<form #testInstForm="ngForm"
      id="div-test-instance-values"
      (ngSubmit)="onFormSubmit(testInstForm)">
  <div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button name="sep"
                        labelPosition="after"
                        [ngModel]="testInstSep"
                        value=",">
        Comma
      </mat-radio-button>
      <mat-radio-button name="sep"
                        labelPosition="after"
                        [ngModel]="testInstSep"
                        value=" ">
        Space
      </mat-radio-button>

      <mat-radio-button name="sep"
                        labelPosition="after"
                        [ngModel]="testInstSep"
                        [value]="boxSep.value">
        Custom
      </mat-radio-button>
    </mat-radio-group>

    <input #boxSep value="">
  </div>

  <p>
    <label for="test-instance-attributes"> Test instance attributes:
      <input name="attrs" [ngModel]="testInstValues" required #attrs="ngModel">
      <div *ngIf="attrs.invalid && testInstForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Test instance attribute values are required.
      </div>
    </label>
  </p>

  <button> Predict </button>
</form>

<div *ngIf="predictResults">
  <p> Prediction result: {{ predictResults.classes }} </p>
</div>

<div *ngIf="errorMessage">
  <p> {{ errorMessage }} </p>
</div>

<h2> Load your own dataset </h2>
<p class="p-note"> Please note that the dataset file must be smaller than {{ maxFileSize }} {{ maxFileSizeUnit }}. </p>
<input type="file" />
