.mat-radio-button {
  margin-left: 0.5%;
  margin-right: 1.5%;
}

.text-field-tiny-width {
  min-width: 100px;
  max-width: 150px;
  width: 20%;
}

.text-field-full-width {
  width: 98%;
}

.minor-header {
}

.predict-button {
  min-width: 25%;
  max-width: 50%;
  width: 300px;
}

.form-separator-section {
  vertical-align: center;
}

.waiting-spinner {
  margin-left: calc(50% - 0.5 * 45px);
  margin-top: 4%;
  margin-bottom: 4%;
}

.file-error-messages-item {
  color: red;
}

.panel-option-icon {
  margin-right: 8px;
}
