<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header
          matTooltip="Generate the most frequent feature sequences for all possible paths in the forest model.">
      <mat-panel-title>
        <mat-icon class="panel-option-icon">sort</mat-icon>
        Rank most common feature sequences
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <mat-card-content>
          <p>
            Generate the most frequent feature sequences from all possible paths (from each tree root to every tree leaf) in the forest model.
          </p>
          <p>
            <strong>Each path is weighted by the number of training instances that pass through it.</strong>
          </p>
          <p>
            Please select the number of sequences to show after analysis:
          </p>
          <mat-form-field appearance="outline" id="numAttrInput">
            <input matInput #numAttr type="number" value="10" min="1"/>
          </mat-form-field>
    <mat-card>
            <mat-checkbox color="primary" #featureNameCheckbox> Show feature names </mat-checkbox>
    </mat-card>
    <mat-card>
      <mat-checkbox color="primary"
              #decisionCheckbox
        (change)="(calledCommonAttrSeqService || (rankCommonAttrSeq && rankCommonAttrSeq.length)) ? getMostCommonAttrSeq(+numAttr.value, decisionCheckbox.checked) : false">
        Include node decision relations ('less or equal than' or 'greater than')
      </mat-checkbox>
    </mat-card>
          <mat-card *ngIf="calledCommonAttrSeqService || (rankCommonAttrSeq && rankCommonAttrSeq.length)">
      <mat-card-header>
              <mat-card-title>
          Results:
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
                <mat-list-item> Total of combinations obtained: {{ attrSeqRelFreq.length }} </mat-list-item>
                <mat-list-item> Total of weighted combination frequency captured: {{ 100 * totalRelFreq | number: '.2-2'}}% </mat-list-item>
        </mat-list>
              <ng-container *ngIf="rankCommonAttrSeq && rankCommonAttrSeq.length; else waitingForCommonAttrSeq">
                <mat-list>
            <ng-container *ngIf="!featureNameCheckbox.checked; else attrNameLists">
                    <mat-list-item>
                      <span class="common-attr-table-rank"><strong>Rank</strong></span>
                      <span class="common-attr-table-left-bar"><strong>Frequency</strong></span>
          <span class="common-attr-table-right"><strong>{{ includeDecisionFeature ? 'Rule' : 'Feature' }} indices sequences</strong></span>
                    </mat-list-item>
              <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let seq of rankCommonAttrSeq; index as i">
                      <span class="common-attr-table-rank"> {{ i + 1 }} </span>
                      <mat-progress-bar class="common-attr-table-bar" [mode]="determinate" [value]="100 * attrSeqRelFreq[i]"></mat-progress-bar>
                      <span class="common-attr-table-left"> {{ 100 * attrSeqRelFreq[i] | number:'.2-2' }}% </span>
                      <span class="common-attr-table-right"> {{ includeDecisionFeature ? formatAllFeatAndDecision(seq) : seq }} </span>
                    </mat-list-item>
            </ng-container>
            <ng-template #attrNameLists>
                    <div *ngFor="let seq of rankCommonAttrSeq; index as i" [style.background-color]="i % 2 ? 'rgb(251, 246, 253)' : 'white'">
                <mat-list-item>
                  <span class="common-attr-table-rank2"> <strong> Rank: </strong> {{ i + 1 }} </span>
                  <span class="common-attr-table-left2"><strong> Frequency: </strong> {{ 100 * attrSeqRelFreq[i] | number:'.2-2' }}% </span>
                  <mat-progress-bar class="common-attr-table-bar2" [mode]="determinate" [value]="100 * attrSeqRelFreq[i]"></mat-progress-bar>
                </mat-list-item>
                <mat-list-item>
      <strong> {{ includeDecisionFeature ? 'Sequence of feature names with decisions:' : 'Sequence feature names:' }} </strong>
                </mat-list-item>
                <mat-list dense>
                  <mat-list-item *ngFor="let attr of translateAttrSeq(seq); index as j">
        {{ j + 1 }}. {{ attr }} (index: {{ includeDecisionFeature ? seq[j][0] : seq[j] }})
                  </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                    </div>
            </ng-template>
                </mat-list>
              </ng-container>
              <ng-template #waitingForCommonAttrSeq>
                <mat-spinner style="margin:0 auto;"></mat-spinner>
              </ng-template>
      </mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button [disabled]="(+numAttr.value) < 1" color="primary" (click)="getMostCommonAttrSeq(+numAttr.value, decisionCheckbox.checked)">
            Run
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header
          matTooltip="">
      <mat-panel-title>
        <mat-icon class="panel-option-icon">account_tree</mat-icon>
        Forest hierarchical clustering
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <mat-card-content>
          <p>
            Perform a hierarchical clustering to agglomerate the most common trees. Two distinct strategies can be used
            to construct the characteristic vector of each tree, used as its representant to perform the clustering.
          </p>
          <p>
            Please choose the strategy adopted to build the characteristic vector for every tree.
          </p>
          <p>
          <strong style="margin-right: 16px;">Build tree characteristic vector using:</strong>
            <mat-form-field class="linkage-selector">
              <mat-label>Default strategy</mat-label>
              <mat-select [(value)]="selectedChVectorType">
                <mat-option value="dna"> DNA vector </mat-option>
                <mat-option value="metafeatures"> Vector of metafeatures </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <ng-container *ngIf="selectedChVectorType === 'dna'; else MetacVectorDescp">
            <p>
              With the 'DNA vector' strategy
              the clustering is performed using the user chosen linkage and a distance based on Cohen's Kappa
              score (f(x) = 1 - Cohen_Kappa(x)) which measures the discrepancy between each pair of DNA vectors
              of every tree.
              <strong>The DNA vector of a tree is the predictions of the tree for every instance.</strong>
            </p>
            <p>
              The data used to generate the tree DNA will be the training data.
            </p>
          </ng-container>
          <ng-template #MetacVectorDescp>
            <p>
              With the 'vector of metafeatures' strategy
              the clustering is performed using the user chosen linkage and the euclidean distance.
              <strong>The metafeature vector is built using the 'model-based' metafeature group in the
              <a href="https://github.com/ealcobaca/pymfe" target="_blank">python 'pymfe' package</a>.</strong>
            </p>
          </ng-template>
    <p *ngIf="numEstimators <= 1; else hierClusInputContainer">
      <mat-icon style="vertical-align: middle; margin-right: 8px; font-size: 150%;">error</mat-icon>
      <strong style="style=vertical-align: middle;">It is necessary a forest to run this analysis.</strong>
          </p>
          <ng-template #hierClusInputContainer>
          <p>
            Please select the linkage type (the default value will be 'average' linkage.)
          </p>
          <p>
          <strong style="margin-right: 16px;">Linkage:</strong>
            <mat-form-field class="linkage-selector">
              <mat-label>Use default linkage type</mat-label>
              <mat-select [(value)]="selectedLinkageType">
                <mat-option> default (average) </mat-option>
                <mat-option *ngFor="let linkage of availableLinkages" [value]="linkage"> {{ linkage }} </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
      <p>
        Please select the proportion of similarity of cut the dendrogram distances.
            </p>
      <mat-list dense>
        <mat-list-item> Proportion = 0.0 means every tree will likely be in a distinct cluster (unless their caracteristic vector matches perfecly.) </mat-list-item> 
        <mat-list-item> Proportion = 1.0 means every tree will likely be in the same cluster (unless their caracteristic vector are completely distinct.) </mat-list-item> 
            </mat-list>
      <strong style="mergin-right: 16px;"> Similarity propotion: </strong> {{ propCutSlider.value | number: '1.3-3'}}
      <mat-slider #propCutSlider
	          min="0.0"
		  max="1.0"
		  step="0.005"
		  [(value)]="propCutSliderValue"
                  (change)="hierClusters && hierClusters.length ? cutHierarchicalClustering() : false"
		  color="primary"
		  style="width: 70%; margin-left: 8px;"></mat-slider>
    </ng-template>
    <mat-card *ngIf="calledHierClusService || (hierClusters && hierClusters.length)">
      <mat-card-header>
          <mat-card-title>
          Results
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
        <mat-list-item> Chosen threshold (for distance 'f(x) = 1 - Cohen_kappa(x)'): {{ thresholdCut }} </mat-list-item>
        <mat-list-item> Number of distinct clusters due to chosen threshold: {{ numHierClusters }} </mat-list-item>
        </mat-list>
          <ng-container *ngIf="hierClusters && hierClusters.length && hierClustersTree && hierClustersTree.length; else waitingForHierClus">
            <mat-list>
              <mat-list-item>
                <span class="common-attr-table-rank2"><strong>Cluster</strong></span>
                <span class="common-attr-table-rank2"><strong>Medoid tree</strong></span>
                <span class="common-attr-table-left-bar2"><strong>Tree indices</strong></span>
              </mat-list-item>
              <mat-list-item *ngFor="let clusterInfo of hierClusters; index as i">
              <span class="common-attr-table-rank2"> {{ i + 1 }}</span>
              <span class="common-attr-table-rank2"> {{ clusterInfo.medoid_ind }} </span>
              <span class="common-attr-table-left-bar2"> {{ clusterInfo.tree_inds }} </span>
              </mat-list-item>
            </mat-list>
            <app-hier-clus-visual [hierClustersTree]="hierClustersTree"
                                  [numEstimators]="numEstimators"
                                  [thresholdCut]="thresholdCut"
                                  [selectedLinkageType]="resultLinkageType ? resultLinkageType : 'average'"
                                  [leavesOptSeq]="leavesOptSeq"
                                  [events]="childUpdateThreshold.asObservable()"></app-hier-clus-visual>
            <app-iterable-displayer [data]="clustSumDists" banList="[]">
            </app-iterable-displayer>
          </ng-container>
          <ng-template #waitingForHierClus>
            <mat-spinner style="margin:0 auto;"></mat-spinner>
          </ng-template>
      </mat-card-content>
    </mat-card>
    </mat-card-content>
    <mat-card-actions align="end">
    <button [disabled]="numEstimators <= 1"
            mat-raised-button
            [matTooltip]="numEstimators <= 1 ? 'It is necessary a forest to run this analysis' : ''" 
            color="primary"
            (click)="getHierarchicalClustering(+propCutSliderValue)">
        Run
      </button>
    </mat-card-actions>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
