#numAttrInput {
  width: 100%;
}

.panel-option-icon {
  margin-right: 8px;
}

.common-attr-table-bar {
  width: 14%;
  margin-right: 8px;
} 

.common-attr-table-rank {
  width: 9%;
}

.common-attr-table-left-bar {
  width: 34%;
}

.common-attr-table-left {
  width: 19%;
}

.common-attr-table-right {
  width: 54%;
}

.common-attr-table-rank2 {
  width: 14%;
}

.common-attr-table-bar2 {
  width: 49%;
  margin-left: 16px;
} 

.common-attr-table-left2 {
  width: 34%;
}

.linkage-selector {
  width: 80%;
}
